@font-face {
  font-family: "Roboto-Bold";
  src: url("../app/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../app/assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../app/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../app/assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../app/assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

* {
  padding: 0 !important;
  margin: 0 auto !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black !important;
}

.buttonPersonalized {
  min-width: 10rem;
  height: 3rem !important;
}

.buttonContainer {
  min-width: 8rem !important;
  text-decoration: none;
  color: white;
  font-family: "Roboto-Bold";
}

.bigTitle {
  font-family: "Roboto-Bold";
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
  max-width: 80%;
}

.titlePersonalized {
  font-family: "Roboto-Medium";
  font-size: 1.7rem;
  color: white;
}

.timePersonalized {
  font-family: "Roboto-Regular";
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cardPersonalized {
  background-color: white;
  padding: 0.5rem !important;
  margin: 0 1rem !important;
  border-radius: 0 !important;
  height: 100% !important;
}

.cardContainer {
  height: 100% !important;
}

.cardTitle {
  font-family: "Roboto-Medium";
  color: #ff28a9;
  font-size: 1.2rem;
}

.cardArtist {
  color: black;
  font-family: "Roboto-Regular";
  text-transform: uppercase;
  font-size: 1.2rem;
}

.cardExtra {
  color: black;
  font-family: "Roboto-Light";
  font-size: 0.9rem;
}

.cardTitle,
.cardArtist,
.cardExtra {
  text-align: left;
  padding: 0;
  margin-bottom: 0.5rem;
}

.section_spotify {
  width: 100%;
  margin-bottom: 100px;
  height: 600px;
  background-image: url(../images/figure.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.resaltado {
  font-family: "Roboto-Bold";
}

.frame_spotify {
  width: 70%;
}

footer {
  margin-top: 5rem !important;
  padding-top: 20px;
  color: white;
  background-color: black;
}

.title {
  font-family: "Roboto-Bold";
}

.txt-footer {
  font-family: "Roboto-Regular";
}

.bigger-title {
  font-family: "Roboto-Bold";
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.bg-transparent {
  background-color: transparent;
}

.btn-color {
  height: 6%;
  background-color: #ffffff;
  border: none;
  border-radius: 0px;
  text-decoration: none;
  color: black;
}

.btn-color:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.row-background {
  background-color: black;
}

.header {
  height: 80vh;
}

.accordionPersonalized p {
  color: white;
  font-family: "Roboto-Regular";
}

.accordion-button,
.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: white !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon) !important;
}

hr {
  color: white !important;
}

#containerFooter{
  margin-top: 1.5rem!important;
  margin-bottom: 3rem!important;
  max-width: 100%!important;
}

.imgFooter{
  max-width: 80%!important;
}

@media (min-width: 600px) {
  .frame_spotify {
    width: 40%;
  }
}

@media (min-width: 600px) {
  .imgFooter{
    max-width: 15%!important;
  }
}

@media (max-width: 600px) {
  .imgFooter{
    max-width: 15%!important;
  }

  #containerFooter{
    max-width: 100%;
  }

  #logo {
    width: "30";
    height: "24";
  }

  .lineUp {
    width: 90%;
  }

  .bigger-title {
    font-size: 1.5rem !important;
  }

  .buttonPersonalized {
    width: 70%;
  }

  .cardContainer {
    height: auto !important;
  }

  .cardTitle {
    font-size: 1rem;
  }

  .cardArtist {
    font-size: 1rem;
  }

  .cardExtra {
    font-size: 0.8rem;
  }

  .bigTitle {
    font-family: "Roboto-Bold";
    font-size: 1.4rem;
    color: white;
    margin-bottom: 2rem;
    padding: 0 2.7rem 0 2.7rem;
  }

  .titlePersonalized {
    font-family: "Roboto-Medium";
    font-size: 1.4rem;
    color: white;
  }

  .timePersonalized {
    font-family: "Roboto-Regular";
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
