@font-face {
  font-family: "Roboto-Bold";
  src: url("../app/assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../app/assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../app/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../app/assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../app/assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

body {
  background-color: black !important;
}

.bigTitle {
  font-family: "Roboto-Bold";
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
}
.titlePersonalized {
  font-family: "Roboto-Medium";
  font-size: 1.7rem;
  color: white;
}
.timePersonalized {
  font-family: "Roboto-Regular";
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.cardPersonalized {
  background-color: white;
  padding: 0.5rem;
  margin: 0 1rem;
  border-radius: 0 !important;
  height: 100% !important;
}
.cardContainer {
  height: 100% !important;
}

.cardTitle {
  font-family: "Roboto-Medium";
  color: #ff28a9;
  font-size: 1.2rem;
}
.cardArtist {
  color: black;
  font-family: "Roboto-Regular";
  text-transform: uppercase;
  font-size: 1.2rem;
}
.cardExtra {
  color: black;
  font-family: "Roboto-Light";
  font-size: 0.9rem;
}

.cardTitle,
.cardArtist,
.cardExtra {
  text-align: left;
  padding: 0;
  margin-bottom: 0.5rem;
}

.bg-transparent {
  background-color: transparent;
}

@media (max-width: 600px) {
  .cardContainer {
    height: auto !important;
  }
  .cardTitle {
    font-size: 1rem;
  }
  .cardArtist {
    font-size: 1rem;
  }
  .cardExtra {
    font-size: 0.8rem;
  }
  .bigTitle {
    font-family: "Roboto-Bold";
    font-size: 1.4rem;
    color: white;
    margin-bottom: 2rem;
    padding: 0 2.7rem 0 2.7rem;
  }
  .titlePersonalized {
    font-family: "Roboto-Medium";
    font-size: 1.4rem;
    color: white;
  }
  .timePersonalized {
    font-family: "Roboto-Regular";
    color: white;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}
